.DraftEditor-root {
    border: 1px solid black;
    padding:20px;
    border-bottom: 2px;
    border-top: 2px;
}

.rdw-image-modal {
    left: -15px;
}

.rdw-emoji-modal {
    left: -170px;
}

.rdw-embedded-modal {
    left: -124px;
}